<h2 class="titulo">Vehiculo:</h2>

<label for="grupo">Grupo</label>
<select [(ngModel)]="currentVehiculo.grupo"  name="grupo" id="grupo">
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
    <option value="E">E</option>
    <option value="F">F</option>
    <option value="G">G</option>
</select>

<label for="marca">Marca</label>
<select [(ngModel)]="currentVehiculo.marca" name="marca" id="marca">
    <option value="Ford">Ford</option>
    <option value="Renault">Renault</option>
    <option value="Audi">Audi</option>
</select>

<label for="modelo">Modelo</label>
<select [(ngModel)]="currentVehiculo.modelo"  name="modelo" id="modelo">
    <option value="Fiesta">Fiesta</option>
    <option value="Kwid">Kwid</option>
    <option value="A4">A4</option>
</select>

<label for="ano">Año</label>
<input  [(ngModel)]="currentVehiculo.ano" placeholder="Año..." type="text" name="ano"  id="" >

<button (click)="saveVehiculos()">Guardar</button>





