<h2 class="titulo">Vehiculo:</h2>

<label for="grupo">Grupo</label>
<select name="grupo" id="grupo">
    <option value="1">A</option>
    <option value="2">B</option>
    <option value="3">C</option>
    <option value="4">D</option>
    <option value="5">E</option>
    <option value="6">F</option>
    <option value="7">G</option>
</select>

<label for="marca">Modelo</label>
<select name="marca" id="marca">
    <option value="1">Ford</option>
    <option value="2">Renault</option>
    <option value="3">Audi</option>
</select>

<label for="modelo">Modelo</label>
<select name="modelo" id="modelo">
    <option value="1">Fiesta</option>
    <option value="2">Kwid</option>
    <option value="3">A4</option>
</select>

<label for="ano">Año</label>
<input type="text" name="ano"  id="">

<a href="/vehiculos-listado"><button>Guardar</button></a>





