<h2 class="titulo">Oficina:</h2>

<form>

    <!-- Grid -->
    <div class="grid">
  
      <!-- Markup example 1: input is inside label -->
      <label for="firstname">
        Ciudad de oficina: 
        <input type="text" id="ciudadoficina" name="ciudadoficina" placeholder="Ciudad..." required>
      </label>
  
      <label for="lastname">
        Calle: 
        <input type="text" id="calle" name="calle" placeholder="Calle..." required>
      </label>

      <label for="lastname">
        Numero: 
        <input type="text" id="numero" name="numero" placeholder="Numero..." required>
      </label>

      <label for="lastname">
        Codigo postal: 
        <input type="text" id="codigopostal" name="codigopostal" placeholder="Codigo postal..." required>
      </label>

      <label for="lastname">
        Telefono: 
        <input type="text" id="telefono" name="telefono" placeholder="Telefono..." required>
      </label>
  
    </div>
  
    <!-- Button -->
        <a href="/oficina-listado"><button>Guardar</button></a>

  
  </form>