<nav>
    <ul>
      <li><strong> <a routerLink="home">Sistema de Autos</a></strong></li>
    </ul>
    <ul *ngIf="router.url != '/'">
      <li><a [routerLink]="['/oficinas-listado']">Oficinas</a></li>
      <li><a [routerLink]="['/vehiculos-listado']">Vehiculos</a></li>
      <li><a [routerLink]="['/clientes-listado']">Clientes</a></li> 
      <li><a [routerLink]="['/reservas-listado']">Reservas</a></li>
      <li><a [routerLink]="['/']"><button>Salir</button></a></li>
    </ul>
</nav>
  
  
  
