<h2 class="titulo">Listado de reservas</h2>

<table>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Auto</th>
        <th scope="col">Cliente</th>
        <th scope="col">Dias</th>
        <th scope="col">Seguro</th>
        <th scope="col">Precio</th>
        <th width="400" scope="col">Accciones</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reserva of reservas">
            <td scope="col">{{reserva.codigo}}</td>
            <td scope="col">{{reserva.auto}}</td>
            <td scope="col">{{reserva.cliente}}</td>
            <td scope="col">{{reserva.dias}}</td>
            <td scope="col">{{reserva.seguro}}</td>
            <td scope="col">{{reserva.precio}}</td>
        
            <td  class="acciones">
                <div><button class="button-editar">
                    Alta Alquiler
                </button></div>
                <a href="/reserva-alta"><button class="button-editar">
                    Editar
                </button></a>
                <div><button class="button-editar">
                    Eliminar
                </button></div>
            </td>
        </tr>

  </table>


<a href="/reserva-alta"><button>Agregar Reservas</button></a>
