<h2 class="titulo">Listado de oficinas</h2>

<table>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Calle</th>
        <th scope="col">Numero</th>
        <th scope="col">Codigo postal</th>
        <th scope="col">Telefono</th>
        <th width="200" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let office of oficinasListado">
            <td scope="col">{{office.codigo}}</td>
            <td scope="col">{{office.ciudad}}</td>
            <td scope="col">{{office.calle}}</td>
            <td scope="col">{{office.numero}}</td>
            <td scope="col">{{office.codigoPostal}}</td>
            <td scope="col">{{office.telefono}}</td>
            <td class="acciones">
                <a routerLink="/oficina-alta" [queryParams]="{codigo:office.codigo}"><button class="button-editar">
                  Editar
                </button></a>
                <div>
                  <button class="button-editar" (click)="removeOffice(office)">
                  Eliminar
                </button>
              </div>
            </td>
        </tr>
    </tbody>
</table>

<a [routerLink]="['/oficina-alta']" ><button>Agregar Oficina</button></a>
