<main class="container">
    <article class="grid">
      <div>
        <hgroup>
          <h1>Sistema de Alquiler de Autos</h1>
          <h2>Ingresa tus credenciales para ingresar al Sistema</h2>
        </hgroup>
        <form>
          <input
            type="text"
            name="login"
            placeholder="Login"
            aria-label="Login"
            autocomplete="nickname"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="Password"
            aria-label="Password"
            autocomplete="current-password"
            required
          />
          <fieldset>
            <label for="remember">
              <input type="checkbox" role="switch" id="remember" name="remember" />
              Recordarme  
            </label>
          </fieldset>
          <button type="button" class="contrast" (click)="gotoHome()">Ingresar</button>
        </form>
      </div>
      <div></div>
    </article>
  </main>