<h2 class="titulo">Cliente:</h2>

<form>

    <!-- Grid -->
    <div class="grid">
  
      <!-- Markup example 1: input is inside label -->
      <label for="firstname">
        Nombre: 
        <input type="text" id="nombreCliente" name="cliente" placeholder="Nombre..."  [(ngModel)]="cliente.nombre" required>
      </label>
  
      <label for="apellido">
        Apellido: 
        <input type="text" id="apellido" name="apellido" placeholder="Apellido..."  [(ngModel)]="cliente.apellido" required>
      </label>

      <label for="dni">
        DNI: 
        <input type="text" id="numero" name="dni" placeholder="DNI..."  [(ngModel)]="cliente.dni" required>
      </label>

      <label for="direccion">
        Direccion: 
        <input type="text" id="direccion" name="direccion" placeholder="Direccion..."  [(ngModel)]="cliente.direccion" required>
      </label>

      <label for="telefono">
        Telefono: 
        <input type="text" id="telefono" name="telefono" placeholder="Telefono..."  [(ngModel)]="cliente.telefono" required>
      </label>

      <label for="tarjeta">
        N° de Tarjeta: 
        <input type="text" id="tarjeta" name="tarjeta" placeholder="Tarjeta..."  [(ngModel)]="cliente.tarjeta" required>
      </label>
  
    </div>
  
    <!-- Button -->
    <button (click)="saveCliente()">Guardar</button>
  
  </form>
