<h2 class="titulo">Reserva:</h2>

<label for="auto">Auto</label>
<select  [(ngModel)]="currentReserva.auto" name="auto" id="auto">
    <option value="Ford Fiesta 2000">Ford Fiesta 2000</option>
    <option value="Renault Clio 2002">Renault Clio 2002</option>
    <option value="Chevrolet Camaro 2022">Chevrolet Camaro 2022</option>
</select>

<label for="marca">Cliente</label>
<select [(ngModel)]="currentReserva.cliente" name="marca" id="marca">
    <option value="Pedro Perez">Pedro Perez</option>
    <option value="Juan Rodriguez">Juan Rodriguez</option>
</select>


<label for="dias">Dias</label>
<input [(ngModel)]="currentReserva.dias" type="dias" name="dias"  id="">

<label for="marca">Seguro</label>
<select [(ngModel)]="currentReserva.seguro" name="marca" id="marca">
    <option value="A">A</option>
    <option value="B">B</option>
</select>

<label for="precio">Precio</label>
<input [(ngModel)]="currentReserva.precio" type="precio" name="Precio"  id="">


<button (click)="saveReserva()">Guardar</button>




