<h2 class="titulo">Listado de vehiculos</h2>


<table>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Grupo</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Año</th>
        <th width="200" scope="col">Accciones</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let vehiculo of vehiculos">
        <td scope="col">{{vehiculo.codigo}}</td>
        <td scope="col">{{vehiculo.grupo}}</td>
        <td scope="col">{{vehiculo.marca}}</td>
        <td scope="col">{{vehiculo.modelo}}</td>
        <td scope="col">{{vehiculo.ano}}</td>
        <td class="acciones">
          <a href="/vehiculo-alta"><button class="button-editar">
            Editar
          </button></a>
          <div><button class="button-editar">
            Eliminar
          </button></div>
      </td>
      </tr>      
    </tbody>
    <tfoot>
      <tr>
        <th scope="col">#</th>
        <td scope="col">Grupo</td>
        <td scope="col">Marca</td>
        <td scope="col">Modelo</td>
        <td scope="col">Año</td>
        <th scope="col">Accciones</th>
      </tr>
    </tfoot>
  </table>


<a href="/vehiculo-alta "><button>Agregar Vehiculo</button></a>
