<h2 class="titulo">Listado de vehiculos</h2>

<label for="busqueda">Buscar por:</label>
<select id="busqueda" [(ngModel)]="filtrarPor">
  <option value="grupo" selected>Grupo</option>
  <option value="marca">Marca</option>
  <option value="modelo">Modelo</option>
</select>

<label for="ciudadoficina">
  <input type="text" id="ciudadoficina" name="filtroVehiculo" placeholder="Buscar..." [(ngModel)]="filtroVehiculo" required>
</label>

<table>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Grupo</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Año</th>
        <th width="200" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let vehiculo of vehiculos | filtro:filtroVehiculo:filtrarPor">
        <td scope="col">{{vehiculo.codigo}}</td>
        <td scope="col">{{vehiculo.grupo}}</td>
        <td scope="col">{{vehiculo.marca}}</td>
        <td scope="col">{{vehiculo.modelo}}</td>
        <td scope="col">{{vehiculo.ano}}</td>
        <td class="acciones">
          <a [routerLink]="['/vehiculo-alta']" [queryParams]="{codigo:vehiculo.codigo}"><button class="button-editar">
            Editar
          </button></a>
          <div><button  (click)="removeVehiculo(vehiculo)" class="button-editar">
            Eliminar
          </button></div>
      </td>
      </tr>      
    </tbody>
   
  </table>


<a [routerLink]="['/vehiculo-alta']"><button>Agregar Vehiculo</button></a>
