
<a href="/nuevo-vehiculo" role="button">Nuevo Vehiculo</a>
<table>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Grupo</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Año</th>
        <th scope="col">Accciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>A</td>
        <td>Ford</td>
        <td>Fiesta</td>
        <td>2022</td>
        <a href="/nuevo-vehiculo" role="button">Editar</a>
      </tr>
      <tr>
      <tr>
        <th scope="row">1</th>
        <td>B</td>
        <td>Chevrolet</td>
        <td>C</td>
        <td>2020</td>
        <a href="/nuevo-vehiculo" role="button">Editar</a>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="col">#</th>
        <td scope="col">Grupo</td>
        <td scope="col">Marca</td>
        <td scope="col">Modelo</td>
        <td scope="col">Año</td>
        <th scope="col">Accciones</th>
      </tr>
    </tfoot>
  </table>